.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  justify-content: center;
}

.App-header {
  padding: 80px;
  max-width: 1000px;
  margin: 0 auto;
}
